---
import Section from "./Section.astro";

---

<Section title="Disfrute de tesla" subtitle="Programe una prueba de conducción hoy mismo" color="white">
    <div slot="footer" class="flex flex-col items-center">
        <a class="border-[3px] border-white bg-white/5 backdrop-blur-lg text-sm rounded font-medium text-white px-[2.9rem] py-[0.45rem] inline-block hover:bg-white hover:text-black transition-colors duration-500" href="#">Prueba de conducción</a>
        <div class="animate-bounce mt-6">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-6 h-6 text-white mx-auto">
                <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5" />
            </svg>
        </div>
    </div>
    <video slot="background" class="object-center object-cover h-full w-full" autoplay muted loop src="/video.webm"></video>
</Section>